<VirtualHost *:80>
    ServerAdmin <%= @adminemail %>
    ServerName <%= @servername %>
    Redirect /test /
    DocumentRoot /var/www/<%= @servername -%>/public_html/
    ErrorLog /var/www/<%= @servername -%>/logs/error.log
    CustomLog /var/www/<%= @servername -%>/logs/access.log combined
    <Directory /var/www/<%= @servername -%>/public_html>
        Require all granted
        Options -Includes -ExecCGI -Indexes
    </Directory>
</VirtualHost>
